# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.log
*.pot
*.mo
*.swp

# Virtual environments
venv/
env/
.venv/
.env/

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos de ambiente
.env
.venv
env/
